html {
    font-size: 10px;
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

.recording {
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 3px solid #333;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: calc(50% - 51.5px);
}

.playback {
    position: absolute;
    top: 140px;
    width: 100vw;
    overflow-x: scroll;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.playback-item {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 21px;
    color: #fff;
    padding: 20px;
}

.playback-item.active {
    background-color: #ffc600;
}

.playback-item:not(:last-child) {
    margin-right: 10px;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    width: 10rem;
    margin: 1rem;
    padding: 1rem .5rem;
    border: .4rem solid black;
    border-radius: .5rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    transition: transform .09s ease, border .09s ease, box-shadow .09s ease;
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.legend {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 21px;
}
